<!DOCTYPE html>
<html>
    <head>
        <title>Gracias!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Información recibida</h1>
        <table>
            <tr>
                <td>Nombre:</td>
                <td><%= nombre %></td>
            </tr>
            <tr>
                <td>Apellidos:</td>
                <td><%= apellidos %></td>
            </tr>
            <tr>
                <td>Fumador/a:</td>
                <td><%= fumador ? "Sí" : "No" %></td>
            </tr>
            <% if (imagen) { %>
            <tr>
                <td>Foto:</td>
                <td><img src="/imagen/<%= imagen %>"></td>
            </tr>
            <% } %>

        </table>
        <div class="volver">
            <a href="index.html">Volver</a>
        </div>
        
    </body>
</html>
