
#superficie {
    width: 500px;
    height: 100px;
    background-color: #FFD;
    border: 1px dotted brown;
    cursor: crosshair;
}

#posicion {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #000050;
    color: white;
    font-weight: bold;
    padding: 4px 10px;    
    display: none;
}
