body {
    font-family: sans-serif;
}

p.importante {
    margin-left: 20px;
    border: 1px dashed rgb(200, 0, 0);
    border-left: 5px solid rgb(200, 0, 0);
    background-color: rgb(255, 200, 200);
    padding: 10px 30px;
    font-weight: bold;
}
