<!DOCTYPE html>
<html>
    <head>
        <title>Vista 4</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bienvenido a <%= nombreApp %></h1>
        <p>Para más ayuda contactar con <a href="mailto:<%= correo %>"><%= correo %></a></p>
    </body>
</html>
