<!DOCTYPE html>
<html>
    <head>
        <title>Vista 1</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <ul>
            <% for(let i = 0; i < 10; i++) { %>
            <li>Opción <%= i + 1 %> </li>
            <% } %>
        </ul>
    </body>
</html>
