<!DOCTYPE html>
<html>
    <head>
        <title>Vista 2</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>
            <%= msg %>
        </p>
        <p>
            <%- msg %>
        </p>
    </body>
</html>
